body{
  overflow-x: hidden;
}



#us{
    font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: red;
}

#business{
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: red;
    text-align: center;
}
#vacationtrips{
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: red;
    text-align: center;
}
#holiday{
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: red;
    text-align: center;
}


#description{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
color:black;
}
#go{
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  font-style: normal;
}
#carouselExample{
  margin-top: -8px;
}
#follow{

  font-family: "Barlow", sans-serif;
  font-weight: 10;
  font-style: normal;
  font-size: 20px;
}


.card:hover {
  box-shadow: 0 10px 18px 0 black;
  transition: 0.3s;
}

